#result {
  padding: 25px;
  background-color: lightcyan;
}

#result.error {
  background-color: lightpink;
}

.offer {
  width: 100%;
  max-width: 480px;
}

.offer img {
  width: 100%;
  height: auto;
}
